:root {
  --black: #0F0F0F;
  --yellow: #FEB913;
  --white: #FDFDFD;
  --blackBlue: #222637;
  --blackBlueHover: #2e3248;
  --lightBlue: #edf1ff;
  --gray: #E0E0E0;
  --darkGray: #909090;
  --tank1: #4a90e2;
  --tank2: #5c4ae2;
  --tank3: rgb(127, 74, 226);
  --tank4: #e24acb;
}