.barrel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.barrel {
  width: 90%;
  height: 3rem;
  background-color: var(--lightBlue);
  border: .2rem solid var(--black);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.water {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--yellow);
  bottom: 0;
  width: 150%;
  height: 60%;
  transition: transform 0.1s ease-out;
}

.water p {
  padding-left: .15rem;
}


.product1 {
  background-color: var(--tank1);
}

.product2 {
  background-color: var(--tank2);
}

.product3 {
  background-color: var(--tank3);
}

.product4 {
  background-color: var(--tank4);
}