.enhanced-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  min-height: 80vh;
  box-sizing: border-box;
}

.table-wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--gray);
}

.addMovement button {
  background-color: var(--yellow);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addMovement button:hover {
  background-color: var(--lightYellow);
  box-shadow: -0.2em 0.2em 2.5em 0.2em var(--lightYellow);
  -webkit-box-shadow: -0.2em 0.2em 2.5em 0.2em var(--lightYellow);
  -moz-box-shadow: -0.2em 0.2em 2.5em 0.2em var(--lightYellow);
}


.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
  background-color: white;
}

.table-row {
  transition: background-color 0.3s;
}

.table-row:hover {
  background-color: var(--light-gray);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}